<?xml version="1.0" encoding="utf-8"?>
<!---->
<Configuration>
  <DataAccessLayerWhereClause>
    <WhereClauses>
      <WhereClause Apply="false">
        <LHS>Your-SalesRepId-Field</LHS>
        <RHS>URL(SalesRepName)</RHS>
        <Operand>=</Operand>
      </WhereClause>
      <WhereClause Apply="false">
        <LHS>CompanyIDForMultiTenantApps1</LHS>
        <RHS>GetColumnValue("User",UserID(),"CompanyID")</RHS>
        <Operand>=</Operand>
      </WhereClause>
      <WhereClause Apply="false">
        <LHS>CompanyIDForMultiTenantApps2</LHS>
        <RHS>Session("CompanyID")</RHS>
        <Operand>=</Operand>
      </WhereClause>
    </WhereClauses>
    <Formulas>
      <Formula>
        <ColumnName>UpdatedOn</ColumnName>
        <Value>Now()</Value>
        <Event>Initialize when updating</Event>
      </Formula>
      <Formula>
        <ColumnName>CreatedOn</ColumnName>
        <Value>Now()</Value>
        <Event>Initialize when inserting</Event>
      </Formula>
      <Formula>
        <ColumnName>UpdatedBy</ColumnName>
        <Value>UserID()</Value>
        <Event>Initialize when updating</Event>
      </Formula>
      <Formula>
        <ColumnName>CreatedBy</ColumnName>
        <Value>UserID()</Value>
        <Event>Initialize when inserting</Event>
      </Formula>
      <Formula Apply="false">
        <ColumnName>BirthDate</ColumnName>
        <Value>If(BirthDate &gt; Today() , "Birthdate cannot be in the future" , "")</Value>
        <Event>Validate when inserting</Event>
      </Formula>
    </Formulas>
  </DataAccessLayerWhereClause>
</Configuration>